.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 30px;
    box-shadow: 0 3px 15px;
    border-radius: 25px;
}

.cartItem img{
    width: 200px;
    margin-left: 15px;
}

.cartItem .description{
    width: 100%;
    font-size: 30px;
}
.checkOut button{
    width: 150px;
    height: 50px;
    background-color: rgb(19,19,19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}
